<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart Management</title>
</head>
<body>
<div align="center">
    <h1>Cartt List</h1>
    <a href="/new">Create New product</a>
    <br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Quantity</th>
				<th>Total Amount</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cart : ${cartList}">
				<td th:text="${cart.productId}">product ID</td>
				<td th:text="${cart.productName}">Product Name</td>
				<td th:text="${cart.productprice}">Product price</td>
				<td th:text="${cart.quantity}">Quantity</td>
				<td th:text="${cart.totalAmount}">Total Amount</td>
				
				<td><a th:href="@{/edit/{id}(id=${cart.productId})}">Edit</a>
					&nbsp;&nbsp;&nbsp; <a
					th:href="@{/delete/{id}(id=${cart.productId})}">Delete</a></td>
			</tr>
		</tbody>
	</table>

</div>
</body>
</html>